 <!--NavBar config-->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img src="http://localhost:8080/public/images/logo.png" height="35"> Jr Outlet
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link" href="https://api.whatsapp.com/send/?phone=558695911322&text&app_absent=0">Whatsapp<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://www.instagram.com/_jr.outlet/">Instagram</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Produtos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <button id="nav0" class="dropdown-item" href="#">Bonés    </button>
                    <button id="nav2" class="dropdown-item" href="#">Camisas   </button>
                    <button id="nav1" class="dropdown-item" href="#">Carteiras</button>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input id="pesquisar" class="form-control mr-sm-2" type="search" placeholder="Pesquisar..." aria-label="Search">
            <button class="btn btn-outline-light my-2 my-sm-0" type="submit" id="buscar-produto">Buscar</button>
        </form>
    </div>
</nav>

<!--Slide code-->
<div id="carouselExampleCaptions" class="container carousel slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="http://localhost:8080/public/images/slide1.png" class="d-block w-100" alt="..." height="300">
            <div class="carousel-caption d-none d-sm-block">
                <h5>{{marcaSlide1}}</h5>
                <p>{{descricaoSlide1}}</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="http://localhost:8080/public/images/slide2.png" class="d-block w-100" alt="..." height="300">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{marcaSlide2}}</h5>
                <p>{{descricaoSlide2}}</p>
            </div>
        </div>

        <div class="carousel-item">
            <img src="http://localhost:8080/public/images/slide3.png" class="d-block w-100" alt="..." height="300">
            <div class="carousel-caption d-none d-md-block">
                <h5>{{marcaSlide3}}</h5>
                <p>{{descricaoSlide3}}</p>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<hr id="linha">

<!--Botões de opções-->
<div class="row-col" id="opcoes">
    <button id="Aba0" href="#" class="btn btn-outline-light mx-4"> BONÉS       </button>
    <button id="Aba1" href="#" class="btn btn-outline-light mx-4"> CARTEIRAS   </button>
    <button id="Aba2" href="#" class="btn btn-outline-light mx-4"> CAMISAS     </button>
    <button id="Aba3" href="#" class="btn btn-outline-light mx-4"> MAIS OPÇÕES </button>
</div>
<hr id="linha">

<!--Seções de venda-->
<!--Bonés-->
<div class="container">
    <div class="container" id="vitrine-bone">
        <div class="card-deck">
            <div class="card" id="#produto-background">
                <img src="{{imagemBone}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{tituloBone}}</h5>
                    <p class="card-text">{{descricaoBone}}</p>
                    <p class="card-text"><small class="text-dark">{{unidadesBone}}</small></p>
                </div>
            </div>
            <hr id="linha">
        </div>
    </div>
</div>

<!--Carteiras-->
<div class="container">
    <div class="container" id="vitrine-carteiras">
        <div class="card-deck">
            <div class="card" id="#produto-background">
                <img src="{{imagemCarteira}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{tituloCarteira}}</h5>
                    <p class="card-text">{{descricaoCarteira}}</p>
                    <p class="card-text"><small class="text-dark">{{unidadeCarteira}}</small></p>
                </div>
            </div>
            <hr id="linha">
            <hr id="linha">
        </div>
    </div>
</div>

<!--Camisas-->
<div class="container">
    <div class="container" id="vitrine-camisas">
        <div class="card-deck">
            <div class="card" id="#produto-background">
                <img src="{{imagemCamisa}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{tituloCamisa}}1</h5>
                    <p class="card-text">{{descricaoCamisa}}</p>
                    <p class="card-text"><small class="text-dark">{{unidadeCamisa}}</small></p>
                </div>
            </div>
            <hr id="linha">
            <hr id="linha">
        </div>
    </div>
</div>



<footer style="text-align: center;">
    Devolper by Lorem Ipsum
</footer>
<a href="/admin" class="btn btn-outline-light my-2 my-sm-0">ADMIN</a>



<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<!--Tag Script Temporaria-->
<script>
    //--------------------------------------------------------------------//
    var vitrineBone = document.querySelector("#vitrine-bone");
    var vitrineCarteira = document.querySelector("#vitrine-carteiras");
    var vitrineCamisas = document.querySelector("#vitrine-camisas");


    //Seleção da Nav
    var navBone = document.querySelector("#nav0");
    var navCarteiras = document.querySelector("#nav1");
    var navCamisas = document.querySelector("#nav2");

    vitrineBone.classList.remove("abaOff");
    vitrineCarteira.classList.add("abaOff");
    vitrineCamisas.classList.add("abaOff");

    navBone.addEventListener("click", function () {
        vitrineBone.classList.remove("abaOff");
        vitrineCarteira.classList.add("abaOff");
        vitrineCamisas.classList.add("abaOff");
    })

    navCarteiras.addEventListener("click", function () {
        vitrineBone.classList.add("abaOff");
        vitrineCamisas.classList.add("abaOff");
        vitrineCarteira.classList.remove("abaOff");
    })

    navCamisas.addEventListener("click", function () {
        vitrineBone.classList.add("abaOff");
        vitrineCarteira.classList.add("abaOff");
        vitrineCamisas.classList.remove("abaOff");
    })

    //--------------------------------------------------------------------//

    //Selecões dos Botões
    var botaoBone = document.querySelector("#Aba0");
    var botaoCarteiras = document.querySelector("#Aba1");
    var botaoCamisas = document.querySelector("#Aba2");

    vitrineBone.classList.remove("abaOff");
    vitrineCarteira.classList.add("abaOff");
    vitrineCamisas.classList.add("abaOff");

    botaoBone.addEventListener("click", function () {
        vitrineBone.classList.remove("abaOff");
        vitrineCarteira.classList.add("abaOff");
        vitrineCamisas.classList.add("abaOff");
    })

    botaoCarteiras.addEventListener("click", function () {
        vitrineBone.classList.add("abaOff");
        vitrineCamisas.classList.add("abaOff");
        vitrineCarteira.classList.remove("abaOff");
    })

    botaoCamisas.addEventListener("click", function () {
        vitrineBone.classList.add("abaOff");
        vitrineCarteira.classList.add("abaOff");
        vitrineCamisas.classList.remove("abaOff");
    })

//--------------------------------------------------------------------//
</script>

